services:
  - type: web
    name: portfolio
    env: node
    rootDir: server
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
    autoDeploy: false
